
h1 {
    padding: 50px 20px 30px 20px;
    font-size: 40px;
    font-weight: 900;
    color: black;
}



.container-add {
   margin-left: 150px;
}

.todo {
    padding: 10px;
    padding-left: 60px;
    display: flex;
    justify-content: space-between;
    font-size: 16px; 
    background: #2B2C28;
    width: 600px;
    border: 1px solid rgba(255,255,255,0.1);
}

.btn-todo {
    margin-left: 30px;
    
}

.space {
  margin: 10px; 
}

 .done, .name {
    color: #BEBBBB;
}



.container {
    width: 400px;
    margin-top: 20px;

} 

.btn-add {
    margin-left: 500px;
    
}


.remaining-todo {
    
   padding: 10px;
    background-color: lightgrey;
    text-align: center;
    margin-left: 120px;
    margin-bottom: 30px;

}


.todoLength {
    color: red;
}

.todoLengthComplete {
    color: green;
}

